<script src="../../Scripts/jquery-1.9.1.intellisense.js"></script>

@section head
{
    <script src="/Scripts/jquery-1.9.1.js"></script>
    <script src="/Scripts/jquery.signalR-1.0.1.js"></script>
    <script src="/signalr/hubs"></script>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <style>
        #red, #green, #blue {
            float: left;
            clear: left;
            width: 100px;
            margin: 15px;
        }

        #swatch {
            width: 120px;
            height: 100px;
            background-image: none;
        }

        #red .ui-slider-range {
            background: #ef2929;
        }

        #red .ui-slider-handle {
            border-color: #ef2929;
        }

        #green .ui-slider-range {
            background: #8ae234;
        }

        #green .ui-slider-handle {
            border-color: #8ae234;
        }

        #blue .ui-slider-range {
            background: #729fcf;
        }

        #blue .ui-slider-handle {
            border-color: #729fcf;
        }
    </style>


    <script>
        $(document).ready(function () {

            //Bağlantıyı sağlıyoruz
            var hub = $.connection.drawHub;
            $.connection.hub.logging = true;

            hub.client.draw = function (x, y, z, w) {
                var ctx = canvas.context;
                ctx.fillCircle(x, y, z, w);
            };

            hub.client.clearCanvas = function () {
                var ctx = canvas.context;
                ctx.clearTo("#ddd");
            };

            $("#clearCanvas").click(function () {
                hub.server.clearCanvas();
            });

            $.connection.hub.start().done(function () {
            });


            //Boyamanın büyüklüğü
            var radius = 5;
            //Boyanın rengi
            var Color = '#ff0000';


            var canvas;
            var container = document.getElementById('canvas');
            //Canvas başlangıç ayarları
            init(container, 800, 400, '#ddd');

            function init(container, width, height, fillColor) {
                canvas = createCanvas(container, width, height);
                var ctx = canvas.context;

                ctx.fillCircle = function (x, y, radius, fillColor) {
                    this.fillStyle = fillColor;
                    this.beginPath();
                    this.moveTo(x, y);
                    this.arc(x, y, radius, 0, Math.PI * 2, false);
                    this.fill();
                };
                ctx.clearTo = function (fillColor) {
                    ctx.fillStyle = fillColor;
                    ctx.fillRect(0, 0, width, height);
                };
                ctx.clearTo(fillColor || "#ddd");

                // bind mouse events
                canvas.node.onmousemove = function (e) {
                    if (!canvas.isDrawing) {
                        return;
                    }
                    var x = e.pageX - this.offsetLeft;
                    var y = e.pageY - this.offsetTop;
                    ctx.fillCircle(x, y, radius, Color);
                    hub.server.drawSomeThings(x, y, radius, Color);
                };
                canvas.node.onmousedown = function (e) {
                    canvas.isDrawing = true;
                };
                canvas.node.onmouseup = function (e) {
                    canvas.isDrawing = false;
                };
            }

            function createCanvas(parent, width, height) {
                var canvas = {};
                canvas.node = document.createElement('canvas');
                canvas.context = canvas.node.getContext('2d');
                canvas.node.width = width || 100;
                canvas.node.height = height || 100;
                parent.appendChild(canvas.node);
                return canvas;
            }



            //Slider 
            $("#slider-range-min").slider({
                range: "min",
                value: 5,
                min: 2,
                max: 20,
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.value);
                    //Boyanın büyüklüğünü değiştiriyoruz
                    radius = $("#slider-range-min").slider("value");
                    $("#size").html(radius);
                }
            });

            //Renk seçmek için
            $("#red, #green, #blue").slider({
                orientation: "horizontal",
                range: "min",
                max: 255,
                value: 127,
                slide: refreshSwatch,
                change: refreshSwatch
            });
            $("#red").slider("value", 255);
            $("#green").slider("value", 140);
            $("#blue").slider("value", 60);


            function hexFromRGB(r, g, b) {
                var hex = [
                  r.toString(16),
                  g.toString(16),
                  b.toString(16)
                ];
                $.each(hex, function (nr, val) {
                    if (val.length === 1) {
                        hex[nr] = "0" + val;
                    }
                });
                return hex.join("").toUpperCase();
            }

            //Renk değiştikçe bu metot tetiklenecek
            function refreshSwatch() {
                var red = $("#red").slider("value"),
                  green = $("#green").slider("value"),
                  blue = $("#blue").slider("value"),
                  hex = hexFromRGB(red, green, blue);
                $("#swatch").css("background-color", "#" + hex);
                //Boyanın rengini burada değiştiriyoruz
                Color = '#' + hex;
            }

        });

    </script>


}



<table>
    <tr>
        <th>Renk Seç</th>
        <th></th>
        <th>Genişlik</th>
    </tr>
    <tr>
        <td>
            <div id="red"></div>
            <div id="green"></div>
            <div id="blue"></div>
        </td>
        <td>
            <div id="swatch" class="ui-widget-content ui-corner-all"></div>
        </td>
        <td>
            <div id="size" style="text-align:center;font-size:large;">5</div>
            <br />
            <div id="slider-range-min" style="width: 250px; margin-left: 50px;"></div>
        </td>
    </tr>
</table>

<div id="canvas"></div>


<button id="clearCanvas">Panoyu Temizle</button>
<div id="deger"></div>


